<section id="genre-index">
<h1>Film Genres</h1>
<% @genres.in_groups_of(3) do |genre1, genre2, genre3| %>
  <div class="row">
    <div class="col-md-4">
      <%= link_to image_tag(src="#{genre1.picture}", class: "img-rounded genre_pictures"), genre_path(genre1) %>
    </div>
    <div class="col-md-4" id ="middle">
      <%= link_to image_tag(src="#{genre2.picture}", class: "img-rounded genre_pictures"), genre_path(genre2) %>
    </div>
    <div class="col-md-4">
      <%= link_to image_tag(src="#{genre3.picture}", class: "img-rounded genre_pictures"), genre_path(genre3) %>
    </div>
<% end %>
</section>

