<h2>Film Genres</h2>
<section id="genre-index">
<% @genres.each do |genre| %>
<%= link_to genre.title, genre_path(genre) %>
<img class="genre_pictures"src="<%= genre.picture %>">
<% end %>
</section>
