<h2>Film Genres</h2>
<section id="genre-index">
<% @genres.each do |genre| %>
<%= link_to genre.title, genre_path(genre) %>
<%= link_to image_tag(src="#{genre.picture}"), genre_path(genre) %>
<% end %>
</section>
