
<section id="genre-show">
<h2><%= @genre.title %></h2>

<img class="genre-pictures" src="<%= @genre.picture %>">
</section>

<section id="film-index">
<!-- FILM VIEW -->
</section>


<%= link_to 'Back', genres_path %>

