
<section id="genre-show">
<h2><%= @genre.title %></h2>

<img src="<%= @genre.picture %>">
</section>

<section id="film-index">
<ul>
	<%= @genre.films.each do |film| %>
	<li><%= link_to film.title, film_path %></li>
	<% end %>
</ul>
</section>


