<section id="genre-show">
<h2><%= @genre.title %></h2>

<img class="genre-pictures" src="<%= @genre.picture %>">
</section>

<section id="film-index">

<ul id="sort_tabs">
  <li class="clicked"><a class="tab_links" id="star_sort" href="#">Most Stars</a></li>
  <li><a class="tab_links" id="recent_sort"href="#">Most Recent</a></li>
</ul>

<ul  class="film_list" id="sort_by_stars">
  <% @genre.sort_by_stars.each do |film| %>
    <li><%= link_to film.title, film_path(film) %></li>
  <% end %>

</ul>
<ul class="active film_list" id="sort_by_recent">
  <% @genre.films.reverse.each do |film| %>
    <li><%= link_to film.title, film_path(film) %></li>
  <% end %>

</ul>
</section>
