
<section id="genre-show">
<h2><%= @genre.title %></h2>

<img class="genre-pictures" src="<%= @genre.picture %>">
</section>

<section id="film-index">
<ul>
	<% @genre.films.each do |film| %>
	<li><%= link_to film.title, film_path %>
	<%= link_to image_tag(src="#{film.picture}"), genre_path(film_path) %></li>
	<% end %>
</ul>
</section>


 