<h2>Meet the Judges</h2>
<section id="judges-index">
<% @judges.each do |judge| %>
<img class="judge_pictures"src="<%= judge.picture %>">
<%= link_to judge.first_name + " " + judge.last_name, user_path(judge) %>
<% end %>
</section>
