<p><%=rating.stars%> Stars</p>
<p><%=rating.review%></p><br>
- <%= link_to rating.user.first_name + " " + rating.user.last_name, user_path(rating.user) %>


<ul id = "rating_comments">
<%  rating.comments.each do |comment| %>
<li>
<%= render partial: "comments/comment_partial_show", locals: {comment: comment} %>
<% end %>
</li>
</ul>

