
/*Image Resizing*/
.genre_pictures {
  height: 150px;
  width: 150px;
}

.judge_pictures {
  height: 150px;
  width: 150px;
}

#profile_picture {
  height: 150px;
  width: 150px;
}

.genre_pictures{
  height: 150px;
  width: 150px;
}

.header-bar {
	background-color: #6890E7;
	height: 170px;
}

.header-bar li {
  list-style: none outside none;
  margin: 0 10px;
  display: inline;
  float: center;

}

.header-bar a {
	color: white;
  text-decoration: none;
}

#title {
	font-family: Lucida;
	font-size: 130px;
	color: white;
	font-weight: bold;
	text-shadow: -5px 0 #ADD7F6, 0 5px #61FBF0, 5px 0 #ADD7F6, 0 -5px #61FBF0;
	text-align: center;
}

#title a:hover {
	text-shadow: -9px 0 #ADD7F6, 0 9px #61FBF0, 9px 0 #ADD7F6, 0 -9px #61FBF0;
}

#lower-bar {
	height: 50px;
	background-color: #3A4249;
}
 



