
/*Image Resizing*/
.genre_pictures {
  height: 150px;
  width: 150px;
}

.judge_pictures {
  height: 150px;
  width: 150px;
}

#profile_picture {
  height: 150px;
  width: 150px;
}

.genre_pictures{
  height: 150px;
  width: 150px;
}
