$icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/";
/*
 *= require rails_bootstrap_forms
 */

@import "bootstrap-sprockets";
@import "bootstrap";

/*Image Resizing*/
.genre_pictures {
  height: 400px;
  width: 400px;
}

#genre-index div {
  margin:0;
  text-align: center;
}

#genre-show {
  display: inline-block;
  float:left;
  margin-left: 12%;
}

#genre-show img {
 margin-top: 5%;
}

#genre-show-page {
  text-align: center;
}

#recent-ratings {
  display: inline-block;
  float: left;
}

#genre-films {
  float: right;
  margin-right: 23%
}

#genre-index {
  text-align: center;
  max-width: 1190px;
  margin: 0 auto;
}

.judge_pictures {
  height: 150px;
  width: 150px;
}

ul {
  list-style: none;
}

.header-bar {
  background-color: #6890E7;
  height: 170px;
  text-align: center;
}

.header-bar li {
  list-style: none outside none;
  margin: 0 10px;
  display: inline;
  float: center;
}

.header-bar a {
  text-decoration: none;
  color: white;
}

#title a {
  font-family: Lucida;
  font-size: 130px;
  color: #3A4249;
  font-weight: bold;
  text-shadow: -5px 0 white;
  text-align: center;
}

#title a:hover {
  text-shadow: -9px 0 black, 0 9px white;
  text-decoration: none;
}

.jumbotron {
  margin: 0px;
  text-align: center;
}

.footer {
  clear: both;
  background-color: #3A4249;
  text-align:center;
  margin-top: 15px;
}

.footer p {
  margin-top:5px;
  color: white;
}

#lower-bar {
  text-align: left;
  height: 50px;
  background-color: #3A4249;
}

.dropdown-toggle {
  margin-top: 7px;
  margin-left: 5px;
  background-color: #3A4249;
}

.col-md-4 {
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px;
  text-align: center;
}

.img-rounded {
  margin-right: 0px;
}

#lower-bar a{
  font-size: 15px;
}

.hidden {
  display:none;
}

#sort_tabs{
  list-style: none;
  position: absolute;
  margin-left: 40.5%;
  margin-bottom: 0px;
}

#sort_tabs li{
  display: inline-block;
  background-color: #3A4249;
  padding: 5px;
  border: 2px solid black;
  border-radius: 5px 5px 0px 0px;
}

#sort_tabs li a{
  text-decoration: none;
}

.film_list {
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
  display: none;
  margin-top: 46px;
  margin-left: 41.5%;
}

.active {
  display: inline-block;
  background-color: #6890E7;
  padding: 10px;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
}

.active li a{
  text-decoration: none;
}

#sort_tabs .clicked {
  background-color: #6890E7;
  padding-bottom: 7px;
  border-bottom: 0px;
}

#unauthorized {
  color: red;
}

.page-title {
  text-align: center;
}

#recent-ratings {
  display: inline-block;
  }

#genre-films {
  display: inline-block;
}

#user_show {
  padding: 15px;
  margin-left: 10px;
}

.user_show_heading {
  color: #2E6DA4;
}

.bold {
  font-weight: bold;
}

#film-desc {
  display: inline-block;
  float: left;
  margin-left: 10%;
}

#film-show {
  text-align: center;
}

.rating {
  margin-right: 10;
  width: 45%;
  float: right;
  text-align: left
}

#director {
  clear: both;
  float: left;
  text-align: left;
  margin-left: 12%
}

.form {
  clear: both;
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

