$icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/";
@import "bootstrap-sprockets";
@import "bootstrap";

/*Image Resizing*/
.genre_pictures {
  height: 400px;
  width: 400px;
}

#genre-index {
  text-align: center;
}

#genre-show {
  display: inline-block;
  float:left;
  margin-left: 15%
}

#genre-show-page {
  text-align: center;
}

#recent-ratings {
  margin-right: 15%
}

#genre-index {
  text-align: center;
}

.judge_pictures {
  height: 150px;
  width: 150px;
}


ul {
  list-style: none;
}

.header-bar {
  background-color: #6890E7;
  height: 170px;
}

.header-bar {
	background-color: #6890E7;
	height: 170px;
  text-align: center;
}

.header-bar li {
  list-style: none outside none;
  margin: 0 10px;
  display: inline;
  float: center;
}

.header-bar a {
  color: white;
  text-decoration: none;
  padding-left: 20px;
}

#title {
  font-family: Lucida;
  font-size: 130px;
  color: white;
  font-weight: bold;
  text-shadow: -5px 0 #ADD7F6, 0 5px #61FBF0, 5px 0 #ADD7F6, 0 -5px #61FBF0;
  text-align: center;
}

#title a:hover {
  text-shadow: -9px 0 #ADD7F6, 0 9px #61FBF0, 9px 0 #ADD7F6, 0 -9px #61FBF0;
}

#lower-bar {
  height: 50px;
  background-color: #3A4249;
}

.hidden {
  display:none;
}

.hidden {
  display:none;
}

#sort_tabs{
  list-style: none;
  position: absolute;
  margin-left: 40.5%;
  margin-bottom: 0px;
}

#sort_tabs li{
  display: inline-block;
  background-color: #3A4249;
  padding: 5px;
  border: 2px solid black;
  border-radius: 5px 5px 0px 0px;
}

#sort_tabs li a{
  text-decoration: none;
}

.film_list {
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
  display: none;
  margin-top: 46px;
  margin-left: 41.5%;
}

.active {
  display: inline-block;
  background-color: #6890E7;
  padding: 10px;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
}

.active li a{
  text-decoration: none;
}

#sort_tabs .clicked {
  background-color: #6890E7;
  padding-bottom: 7px;
  border-bottom: 0px;
}


